<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected-route</title>
</head>
<body>
    <h2><%=currentUser.username %> Successfully Signed In</h2>
    <h4><a href="/fileUploader">Click here</a> to proceed.</h4>
    <p><a href="/logout">log-out</a></p>
</body>
</html>